<!DOCTYPE html>
<html>
<head>
    <title>{%  block title %} Title here {% endblock %}</title>
    <link rel="stylesheet" type="text/css"  href="{{ STATIC_URL }}css/main.css"/>
    <link rel="stylesheet" href="/Users/tgameco/Django/projects/pangaea/assets/css/main"/>
    {% block css-link %} {% endblock %}
</head>
<body>
    <header>
        <nav>
            <h1 id="logo"><a href="/">Pangaea</a></h1>
            {% if not user.is_authenticated %}
            <div id="not-in">
                <form id="login" action="/accounts/login">
                    <button id="green">Log in</button>
                </form>
                <form id="signup" action="/accounts/register">
                    <button id="blue">Signup</button>
                </form>
            </div>
            {% else %}
            <div id="logged-in">
                <p>Welcome {{ user }}</p>
                <form action="/accounts/logout">
                    <input type="submit" id="blue" value="Logout"/>
                </form>
            </div>
            {% endif %}
        </nav>
    </header>
    <div id="content">
        {% block content %} {% endblock %}
    </div>
    <div id="content-related">
        {% block content-related %} {% endblock %}
    </div>
</body>
<footer>
    <a class="underline" href="/">About</a>
    <span>All rights reserved</span>
</footer>
</html>