{% extends 'base.html' %}

{% block title %} Pangaea | Home {% endblock %}

{% block content %}
    <h2>Understand and stay informed about the important global problems</h2>
    <section>
        <ul>
            <li><h3>The Syrian Revolution</h3><img src="" alt=""/></li>
            <li><h3>Snowden Leaks</h3><img src="" alt=""/></li>
            <li><h3>Malaria Disease</h3><img src="" alt=""/></li>
            <li><h3>HIV epidemic</h3><img src="" alt=""/></li>
        </ul>
    </section>
{% endblock %}
